<app-nav></app-nav>

<section>
    <div class="container">
        <br>
        <h1>Shopping Cart</h1>
        <hr>
        <br>
        <div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="cart.lines.length == 0">
                        <td colspan="5">YOUR CART IS EMPTY</td>
                    </tr>
                    <tr *ngFor="let line of cart.lines">
                        <td class="cart_product">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs">
                                        <img class="" style="width: 50%; height: 50%;" src="http://placehold.it/100x100"
                                            alt="">
                                    </div>
                                    <div class="col-xs">
                                        <h6>{{line.product.productName}}</h6>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="cart_price">
                            {{line.product.MSRP | currency: "USD": true:  "2.2-2"}}
                        </td>
                        <td class="cart_quantity">
                            <div>
                                <input id="quantity" type="number" [value]="line.quantity"
                                    (change)="updateQuantity(line.product, $event.target.value)">
                            </div>
                        </td>
                        <td class="cart_total">
                            {{line.lineTotal | currency: "USD": true:  "2.2-2"}}
                        </td>
                        <td class="cart_delete">
                            <button class="btn btn-danger btn-sm" (click)="deleteLine(line.product.productCode)"><i
                                    class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6" style="text-align: center;">

                <div class="cart_summary" role="tablist">
                    <h3 class="summary title">SUMMARY</h3>
                    <div class="cart-totals">
                        <table class="data table totals">
                            <tbody>
                                <tr>
                                    <th class="totals sub">
                                        <p>Cart Sub Total</p>
                                    </th>
                                    <td>
                                        <span class="price"
                                            data-th="Subtotal">{{cart.cartPrice | currency: "USD": true:  "2.2-2"}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="shipcost">
                                        <p>Shipping Cost</p>
                                    </th>
                                    <td>
                                        <span>Free</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="total">
                                        <h5>Total</h5>
                                    </th>
                                    <td>
                                        <span>{{cart.cartPrice | currency: "USD": true:  "2.2-2"}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary btn-sm" routerLink="/store">Continue Shopping</button> 
                        <button  type="button" class="btn btn-warning btn-sm" routerLink="/checkout">Check Out</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>